*{

box-sizing:border-box;

}


body{


margin:0;

background:#0b0f14;

color:white;

font-family:Arial;


}



.dashboard{


max-width:1400px;

margin:auto;

padding:30px;


}



h1{


text-align:center;

color:#f48120;

font-size:38px;


}



.subtitle{


text-align:center;

color:#aaa;

margin-bottom:30px;


}




.grid{


display:grid;

grid-template-columns:
repeat(12,1fr);

gap:20px;


}




.card{


background:#151a21;

border:1px solid #2c333b;

border-radius:14px;

padding:20px;


box-shadow:

0 0 20px rgba(244,129,32,.15);


}



.full{


grid-column:span 12;


}


.card:not(.full){


grid-column:span 4;


}





button{


background:#f48120;

color:white;

border:none;

padding:10px 15px;

margin:5px;

border-radius:8px;

cursor:pointer;


}



button:hover{


background:#ff9b45;


}




.status{


display:flex;

flex-wrap:wrap;


}




#counter{


font-size:55px;

text-align:center;

color:#f48120;

font-weight:bold;


}




#trafficChart{


height:350px!important;


}




#log{


height:300px;

overflow:auto;

background:#050607;

padding:15px;

border-radius:10px;

font-family:monospace;

color:#00ff99;


}




@media(max-width:900px){


.card,
.card:not(.full){

grid-column:span 12;


}


button{

width:100%;

}


}
